body {
  color: #000;
}

.header {
    .logo {
      width: 120px;
      height: 82px;
  }
}

.headline {
    .name {
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.6);
    }
    .gender {
      font-size: 1.2em;
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
    }
    .hobby {
        font-size: ;
    }
  }
}